<div class="col-md-12 margin-top">
    <input [(ngModel)]="searchByKeyword" type='text' class="margin-top margin-bottom" placeholder="Search field" />
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let col of listHeadersObj">
                    <span> {{col}}</span>&nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let listItem of employeeList | searchFilter : searchByKeyword">
                <td>{{listItem.id}}</td>
                <td>{{listItem.name}}</td>
                <td [ngClass]="{'font-weight-bold': listItem.phone === 'NA'}">{{listItem.phone}}</td>
                <td>{{listItem.address.city}}</td>
                <td>{{listItem.address.address_line1}}</td>
                <td>{{listItem.address.address_line2}}</td>
                <td>{{listItem.address.postal_code}}</td>
            </tr>
            <tr *ngIf="employeeList?.length == 0">
                <td attr.colspan="{{listHeadersObj?.length}}">
                    <span>No Records Found</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>